body {
    padding: 10px;
    background-color: white;
    height:300px;
}

#svg {
    padding:20px;
}

.align-middle {
    vertical-align:middle;
}

.icon1 {
    padding-right:5px;
}

.pagination li {
    display:inline-block;
    padding:5px;
}